<div class="cont_img" >
    <img src="../../assets/logo_DE-01.png" alt="" class="logo_de"> 
    <img src="../../assets/eur 1.png" alt="" style="width: 15%; height: 10vh; margin-right: 3%;">
    <img src="../../assets/eur 2.png" alt="" style="width: 5%; height: 10vh;">
</div>


<div class="cont">
<div class="containerrr">    
    <p style="padding: 15px;">Département Electronique : <br>
        * Filière Génie des Systèmes Electroniques  de Communication <br>
        Créée en 2012 suite à la transformation institut-école d’ingénieurs <br>
        * 1ère promotion 2015 - 70 diplômés en moyenne par année (Tot.512) <br>
        * Licence TIC créée 2011 - 1ère promotion 2014   <br>
        * MP Systèmes Embarqués créé 2009 - 1ère promotion 2011        
    </p> 
</div>
</div>

<br>

<div class="cont">
    <div class="demo">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="compteur text-center">
                        <i class="compteur-icone fa fa-globe"></i>
                        <span class="compteur_valeur">66</span>
                        <h3 class="titre">Enseignants</h3>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="compteur text-center">
                        <i class="compteur-icone fa fa-mobile"></i>
                        <span class="compteur_valeur">193</span>
                        <h3 class="titre">Etudiants</h3>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="compteur text-center">
                        <i class="compteur-icone fa fa-briefcase"></i>
                        <span class="compteur_valeur">2</span>
                        <h3 class="titre">Cadres Techniques</h3>
                    </div>
                </div>
            </div>

            <br>
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="compteur text-center">
                        <i class="compteur-icone fa fa-rocket"></i> 
                        <span class="compteur_valeur">30</span>
                        <h3 class="titre">Salles de cours</h3>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="compteur text-center">
                        <i class="compteur-icone fa fa-rocket"></i> 
                        <span class="compteur_valeur">13</span>
                        <h3 class="titre">Salles de TP</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
    <div style="display: flex; justify-content: center;">
        <div class="container_head_partners"><b>Nos Chers Partenaires</b></div>
    </div>

<br>

<div class="cont_img ">
<div id="carouselExampleIndicators" class="carousel slide caroo">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/logo_DE-01.png" class="d-block w-100 partenaire" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/Partenaires/drefdd.jpg" class="d-block w-100 partenaire" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/Partenaires/logo ST.png" class="d-block w-100 partenaire" alt="...">
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
</div>

<br><br>