<!-- <footer class="back-G text-light py-4 body">
    <div class="container">
        <div class="row">
            <div class="col-md-4" style="display: flex; justify-content: center;">
                <img src="../../assets/logo_DE-01.png" alt="Logo de l'application" class="img-fluid"  width="350px" height="20px">
            </div>
            <div class="col-md-4" style="display: flex; justify-content: center;">
                <div class="coord">
                    <p><b>Coordonnées du chef du département</b></p>
                    <p><span class="icon"></span> Route de Tunis, cité el Ons, Technopôle de Sfax - 3018 Sfax</p>
                    <p><span class="icon"></span> Email: Samir.bensalem&#64;enetcom.usf.tn</p>
                    <p><span class="icon"></span> Téléphone: 12345567</p>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <ul class="list-unstyled">
                        <li><a href="" class="text-light"><b>Département</b></a></li>
                        <li><a href="/produits" class="text-light"><b>Formation</b></a></li>
                        <li><a href="/services" class="text-light"><b>Salle</b></a></li>
                        <li><a href="/contact" class="text-light"><b>Enseignants</b></a></li>
                        <li><a href="/accueil" class="text-light"><b>Actualités</b></a></li>
                        <li><a href="/produits" class="text-light"><b>Partenaires</b></a></li>
                        <li><a href="/services" class="text-light"><b>Anciens Diplômés</b></a></li>
                        <li><a href="/contact" class="text-light"><b>Etudiant</b></a></li>
                        <li><a href="/contact" class="text-light"><b>Se Connecter</b></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer> -->
