<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary" style="height: 60px;">
    <div class="container-fluid">
    
          <!-- Logo -->
            <a class="navbar-brand" href="https://univ-sfax.tn" target="_blank">
                  <img src="../assets/university-of-sfax.png" alt="Université de Sfax" width="60" height="55" class="d-inline-block align-text-top" > 
            </a>  

            <a class="navbar-brand" href="https://enetcom.rnu.tn/fr" target="_blank">
                <img src="../assets/255255113_408737657570581_3086290522168056445_n.png" alt="ENET'COM" width="100" height="55" class="d-inline-block align-text-top">
            </a>
  
            <a class="navbar-brand" href="">
            <img src="../assets/logo_DE-01.png" alt="Logo DE" width="120" height="60" class="d-inline-block align-text-top"> 
            </a>
  
          <!-- Boutons -->
  
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <div class="ms-auto"> 
                <div class="d-flex align-items-center">
                      <a routerLink=""><button type="button" class="btn btn-outline-info mx-1">Département</button></a>
                      <a routerLink="formation"><button type="button" class="btn btn-outline-info mx-1">Formation</button></a>
                      <a routerLink="salle"><button type="button" class="btn btn-outline-info mx-1">Salle</button></a>
                      <a routerLink="enseignants"><button type="button" class="btn btn-outline-info mx-1">Enseignants</button></a>
                      <a routerLink="actualites"><button type="button" class="btn btn-outline-info mx-1">Actualités</button></a>
                      <a routerLink="partenaires"><button type="button" class="btn btn-outline-info mx-1">Mobilités</button></a>
                      <a routerLink="ancien_diplomes"><button type="button" class="btn btn-outline-info mx-1">Anciens diplômés</button></a>
                      <a routerLink="etudiant"><button type="button" class="btn btn-outline-info mx-1">Etudiant</button></a>
                      <a routerLink="sign_in" target="_blank"><img src="../assets/Sign IN@3x.png" alt="Sign In" width="50" height="50" class="d-inline-block align-text-top mx-3"></a>
                </div>
             </div>     
          </div>
    </div>
  </nav>



  
<!--  navbar.component.html 

<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary" style="height: 60px;">
      <div class="container-fluid">
        
        <a class="navbar-brand" href="https://univ-sfax.tn" target="_blank">
          <img src="../assets/university-of-sfax.png" alt="Université de Sfax" width="60" height="55" class="d-inline-block align-text-top">
        </a>
    
        <a class="navbar-brand" href="https://enetcom.rnu.tn/fr" target="_blank">
          <img src="../assets/255255113_408737657570581_3086290522168056445_n.png" alt="ENET'COM" width="100" height="55" class="d-inline-block align-text-top">
        </a>
    
        <a class="navbar-brand" href="">
          <img src="../assets/logo_DE-01.png" alt="Logo DE" width="120" height="60" class="d-inline-block align-text-top">
        </a>
    
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="ms-auto">
            <div class="d-flex align-items-center">
              <a routerLink=""><button type="button" class="btn btn-outline-info mx-1">Département</button></a>
            </div>
          </div>
        </div>
      </div>
    </nav>
     -->