<div class="cont-button">

    <a href="pre-ins"><button type="button" class="btn mx-2 btn-outline-info">Liste Des Adresses E-Mail Des Classes</button></a>
    <a href="dem-obs-rec"><button type="button" class="btn mx-2 btn-outline-info">Demande / Observation / Réclamation</button></a>
    <a href="https://drive.google.com/drive/folders/1PUU61iyR29Qmmreeg_xPLxSfVt_hN73E" target="_blank"><button type="button" class="btn mx-2 btn-outline-info">PV Des Réunions Du Département</button></a>
    <a target="_blank" href="https://drive.google.com/drive/folders/1gsnW1q-5c8LJIOmShKwydNskp8JFXcfZ"><button type="button" class="btn mx-2 btn-outline-info">PV Des Autres Réunions</button></a>
    
</div>
