<div class="center">
    <div class="entet"> 
        <p style="padding: 10px; margin-top: -0.5%;"><b>Mobilité Des Elèves Ingénieurs</b></p>
    </div>
</div>

<div class="container">    
    <p style="padding: 10px;">La mobilité des élèves ingénieurs du département électronique à l’étranger est établie afin d’enrichir leur profil de compétences et acquérir des aptitudes pour travailler dans un contexte international. Néanmoins, le nombre des étudiants qui bénéficient d’une bourse de mobilité reste un peu limité durant les trois dernières années universitaires.  <br>
    Le département compte déployer des efforts supplémentaires pour augmenter le nombre des élèves ingénieurs qui bénéficieront d’une mobilité. 
    </p> 
</div>

<div class="container">    
    <p style="padding: 10px;">La formation GEC présente trois possibilités pour bénéficier d’une mobilité : <br>
        ●	Mobilité sur un seul semestre durant S1-S4. <br>
        ●	Mobilité sur un seul semestre durant S6 (PFE). <br>
        ●	Mobilité afin d’obtenir un double diplôme (diplôme d’ingénieur du département et celui de l’établissement d’accueil).
    </p> 
</div>

<div class="container">    
    <p style="padding: 10px;">En effet, le développement des partenariats avec des établissements internationaux, en particulier européens, permet au département électronique d’évaluer <br>et comparer la qualité de sa formation à celles de ses partenaires internationaux. La validation du semestre est faite sur la base des résultats obtenus dans l’université d’accueil dans le respect du contrat pédagogique signé par toutes les parties.
    </p> 
</div>

<div style="display: flex; justify-content: center;">
<div class="container_head_tab"><b>Nombre total des élèves ingénieur pour la filière GEC</b></div>
</div>
<br>

<div style="display: flex; justify-content: center;">
<div class="container_tableau">
    <table class="table table-borderless">
        <tr> 
            <td>Année Universitaire</td>
            <td>2019 / 2020</td>
            <td>2020 / 2021</td>
            <td>2021 / 2022</td> 
        </tr>
        <tr>
            <td style="margin-left: 10%;">Nombre des élèves ingénieur</td>
            <td>-</td>
            <td>-</td>
            <td>1</td>
        </tr>
    </table>
</div>
</div>

<br>
    <div style="display: flex; justify-content: center;">
        <div class="container_head_tab"><b>Nombre des élèves ingénieur en mobilité pour la filière GEC</b></div>
    </div>
    <br>

<div style="display: flex; justify-content: center;">
<div class="container_tableau">
    <table class="table table-borderless">
        <tr>
            <td>Type de Mobilité</td>
            <td>2018</td>
            <td>2019</td>
            <td>2020</td>
            <td>2021</td>
            <td>2022</td>
            <td>2023</td>
        </tr>
        <br>
        <tr>
            <td>Double diplôme</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>1</td>
            <td>-</td>
            <td>2</td>
        </tr>
        <br>
        <tr>
            <td>Semestre 4</td>
            <td>1 France</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <br>
        <tr>
            <td>Semestre 5</td>
            <td>-</td>
            <td>1 France</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <br>
        <tr>
            <td>Semestre 6 <br><br><br><br> </td>
            <td> 2 Allemagne <br> 3 France <br> 3 Canada <br> 1 Espagne</td>
            <td>6 Allemagne <br>1 France <br>1 Canada <br>.</td>
            <td>8 Allemagne <br> 2 France <br>.<br>.</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>
</div>

<br>
<div class="container">    
    <p style="padding: 10px;">Dans le cadre de son ouverture sur l’environnement académique international, l’ENET’Com, en particulier le département électronique, a travaillé ces dernière années sur l’attraction des élèves ingénieurs étrangers et principalement africains. <br>D’après le Tableau suivant, le nombre des élèves étrangers suivant leur formation en génie des systèmes électroniques embarqués est en train d’évoluer d’une année à l’autre. La politique du département favorise toujours l’ouverture à l’international et des efforts supplémentaires sont en train d’être déployés pour renforcer l’attraction des élèves ingénieurs étrangers.
    </p> 
</div>

    <div style="display: flex; justify-content: center;">
        <div class="container_head_tab"><b>Nombre des élèves ingénieur étrangers pour la filière GEC</b></div>
    </div>
<br>

<div style="display: flex; justify-content: center;">
    <div class="container_tableau">
    <table class="table table-borderless">
        <tr> 
            <td>Année Universitaire</td>
            <td>2019 / 2020</td>
            <td>2020 / 2021</td>
            <td>2021 / 2022</td> 
        </tr>
        <tr>
            <td>Nombre des élèves ingénieur étrangers</td>
            <td>-</td>
            <td>1</td>
            <td>2</td>
        </tr>
    </table>
    </div>
</div>

<br><br>