<div class="body">
        <div class="abcd" style="display: flex; justify-content: center !important;">
                <a class="abcl" href="/formation/#competencesspecifiques"><img class="abcl" src="../../assets/Contenu Page Formation/Former des étudiants de haut niveau.png" alt="" loading="lazy"></a>
        </div>

<!-- title  -->
    
        <div class="abcd">
            <a href="/formation/#ltic" class="abcd"><img class="titre" src="../../assets/Contenu Page Formation/Licence en Technologies de l'Information et de Communication@4x.png" alt=""></a>
        </div>

        <div class="abcd">
            <a href="/formation/#master" class="abcd"><img class="titre" src="../../assets/Contenu Page Formation/Mastère Professionnel  Systèmes Embarqués.png" alt=""></a>
        </div>

        <div class="abcd">
            <a href="/formation/#gec" class="abcd"><img class="titre" src="../../assets/Contenu Page Formation/Génie des Systèmes Electroniques de Communication@4x.png" alt=""></a>
        </div>
    

<!-- F-title  -->


<!-- separation -->

        <div class="abcd">
            <img src="../../assets/Contenu Page Formation/séparation@4x.png" alt="" class="separation">
        </div>

<!-- F-separation -->


        <div class="abcd" id="ltic">
            <img class="abc" src="../../assets/Contenu Page Formation/Contenu Ltic.png" alt="">
        </div>


<!-- separation -->
        <div class="abcd">
            <img src="../../assets/Contenu Page Formation/séparation@4x.png" alt="" class="separation">
        </div>
<!-- F-separation  -->


        <div class="abcd" id="master">
            <img class="abc" src="../../assets/Contenu Page Formation/Contenu Mastère Professionnel  Systèmes Embarqués.png" alt="">
        </div>


<!-- separation -->
        <div class="abcd">
            <img src="../../assets/Contenu Page Formation/séparation@4x.png" alt="" class="separation">
        </div>
<!-- F-separation  -->


        <div class="abcd" style="margin-left: 1%;" id="gec">
            <img class="abc" src="../../assets/Contenu Page Formation/Structure de la formation GEC.png" alt="">
            <img class="abc" src="../../assets/Contenu Page Formation/7 Domaines d’apprentissage.png" alt="">
        </div>


<!-- separation -->
        <div class="abcd">
            <img src="../../assets/Contenu Page Formation/séparation@4x.png" alt="" class="separation">
        </div>
<!-- F-separation  --> 


        <div class="abcd">
            <img class="abc" src="../../assets/Contenu Page Formation/Option Systèmes Embarqués (SE).png" alt="">
        </div>
        

<!-- separation -->
        <div class="abcd">
            <img src="../../assets/Contenu Page Formation/séparation@4x.png" alt="" class="separation">
        </div>
<!-- F-separation  -->


        <div class="abcd">
            <img class="abc" src="../../assets/Contenu Page Formation/Option Systèmes Électronique Intelligents (SEI).png" alt="">
        </div>


<!-- separation -->
        <div class="abcd">
            <img src="../../assets/Contenu Page Formation/séparation@4x.png" alt="" class="separation">
        </div>
<!-- F-separation  --> 
        

        <div class="abcd">
            <img class="abc" src="../../assets/Contenu Page Formation/Option Systèmes Connectés (SC).png" alt="">
        </div>


<!-- separation -->
        <div class="abcd">
            <img src="../../assets/Contenu Page Formation/séparation@4x.png" alt="" class="separation">
        </div>
<!-- F-separation  --> 


        <div class="abcd" id="competencesspecifiques">
            <img class="abccc" src="../../assets/Contenu Page Formation/Compétences spécifiques (CS).png" alt="">
        </div>


<!-- separation -->
        <div class="abcd">
            <img src="../../assets/Contenu Page Formation/séparation@4x.png" alt="" class="separation">
        </div>
<!-- F-separation  -->


        <div class="abcd">
            <img class="abc" src="../../assets/Contenu Page Formation/Répartition du volume horaire par domaine S1 à S4.png" alt="">
            <img class="abc" src="../../assets/Contenu Page Formation/Répartition du volume horaire par domaine S5.png" alt="">
        </div>


<!-- separation -->
        <div class="abcd">
            <img src="../../assets/Contenu Page Formation/séparation@4x.png" alt="" class="separation">
        </div>
<!-- F-separation  -->


        <div class="abcd">
            <img class="abc" src="../../assets/Contenu Page Formation/Répartition Du Volume Horaire .png" alt="">
        </div>


<!-- separation -->
        <div class="abcd">
            <img src="../../assets/Contenu Page Formation/séparation@4x.png" alt="" class="separation">
        </div>
<!-- F-separation  --> 


        <div class="abcd">
            <img class="abc" src="../../assets/Contenu Page Formation/Insertion à la vie professionnelle.png" alt="">
        </div>


<!-- separation -->
        <div class="abcd">
            <img src="../../assets/Contenu Page Formation/séparation@4x.png" alt="" class="separation">
        </div>
<!-- F-separation  --> 


        <div class="abcd">
            <img class="abc" src="../../assets/Contenu Page Formation/Mobilité des élèves ingénieurs.png" alt="">
        </div>


<!-- separation -->
        <div class="abcd">
            <img src="../../assets/Contenu Page Formation/séparation@4x.png" alt="" class="separation">
        </div>
<!-- F-separation  -->


        <div class="abcd">
            <img class="abc" src="../../assets/Contenu Page Formation/Plan d’actions.png" alt="">
        </div>

        
</div>